body {
  font-family: "Merriweather", serif;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-size: 2rem;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: white !important;
}
