@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-manrope), sans-serif;
  --font-serif: var(--font-libertinus-serif-display), serif;
}

html[lang="ka"] {
  --font-sans: var(--font-noto-sans-georgian), sans-serif;
  --font-serif: var(--font-noto-serif-georgian), serif;
}

body {
  font-family: var(--font-sans);
}

.gallery-swiper .swiper-button-next::after,
.gallery-swiper .swiper-button-prev::after {
  color: white;
  font-size: 2rem;
}

.gallery-swiper .swiper-pagination-bullet {
  background: white !important;
  opacity: 0.6;
}

.gallery-swiper .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: white !important;
}
